* {
    margin: 0;
    padding: 0;
}

header {
    background-color: purple;
    height: 100px;
}

nav {
    background-color: goldenrod;
    width: 30%;
    height: 450px;
    float: left;
}

main {
    background-color: hotpink;
    width: 70%;
    float: right;
    height: 450px;
}

footer {
    background-color: grey;
    height: 50px;
    clear: both;
}

.block3 {
    margin: 10px;
}

table {
    margin: 20px;
    border-collapse: collapse;
    width: 90%;
    border: 2px solid black; 
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

td {
    padding: 10px;
    width: 1%;
    border: 1px solid black;
}

th {
    border: 2px solid black;
}
.plan {
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}