header{
    width: 100%;
    height: 400px;
    background-color: pink;
}
nav{
    float: left;
    width: 30%;
    height: 400px;
    background-color: orange;
}
main{
    float: inline-end;
    width: 50%;
    height: 400px;
    background-color: darksalmon;
}
aside{
    float: right;
    width: 20%;
    height: 400px;
    background-color: royalblue;
}
footer{
     clear: both ;
    width: 100%;
    height: 100px;
    background-color: forestgreen;
}
